<app-slideshow-user></app-slideshow-user>
<div class="row">
  <div class="l-12 brand-list">
    <ul class="row">
      <ng-container *ngFor="let item of brandList">
        <li class="l-2">
          <a (click)="choseeBrand(item.id!)"
            ><img
              src="https://cdn.tgdd.vn/Brand/1/logo-macbook-149x40.png"
              alt=""
          /></a>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="l-2">
    <div class="row">
      <div class="l-12">
        <h2>Hãng sản xuất</h2>
        <div class="checkbox-list">
          <div class="checkbox-list-item">
            <input type="checkbox" name="" id="" />
            <span>abc</span>
          </div>
          <div class="checkbox-list-item">
            <input type="checkbox" name="" id="" />
            <span>abc</span>
          </div>
          <div class="checkbox-list-item">
            <input type="checkbox" name="" id="" />
            <span>abc</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-10 product-list">
    <div class="l-12">
      <button [appModal]="'search'" [positionClose]="0" [widthSize]="'40%'">
        Tìm kiếm thông minh
      </button>
    </div>
    <div class="product-list-item l-4" *ngFor="let item of productList">
      <div class="item-img">
        <a href="">
          <img
            src="https://images.fpt.shop/unsafe/fit-in/240x215/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/1/26/637787904727727554_asus-tuf-gaming-fx506lh-den-2022-dd.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="item-name">
        <a href="">{{ item.name }}</a>
      </div>
      <div class="item-cost">
        <span class="item-cost-reduce">17.990.000 ₫</span>
        <span class="item-cost-price">{{ item.price }} </span>
      </div>
      <div class="item-config">
        <div class="item-config-param">
          <span data-title="Màn hình"
            ><fa-icon [icon]="displaySize" class="icon"></fa-icon>
            {{ item.config?.displaySize }} inh</span
          >
          <span data-title="CPU"
            ><fa-icon [icon]="cpu" class="icon"></fa-icon>
            {{ item.config?.cpu }}</span
          >
          <span data-title="RAM"
            ><fa-icon [icon]="ram" class="icon"></fa-icon>
            {{ item.config?.ram }} GB</span
          >
          <span data-title="Ổ cứng"
            ><fa-icon [icon]="hardDrive" class="icon"></fa-icon>
            {{ item.config?.hardDrive }}</span
          >
          <span data-title="Đồ hoạ"
            ><fa-icon [icon]="graphicCard" class="icon"></fa-icon>
            {{ item.config?.graphicCard }}</span
          >
          <span data-title="Trọng lượng"
            ><fa-icon [icon]="weight" class="icon"></fa-icon>
            {{ item.config?.weight }}</span
          >
        </div>
      </div>
      <div class="item-btn">
        <button [routerLink]="['/products', item.id]" class="btn-buy">
          Xem hàng
        </button>
        <button class="btn-compare">So sánh</button>
      </div>
    </div>

    <div class="product-list-pagination l-12 r-m">
      <app-pagination
        [currentPage]="currentPage!"
        [totalPages]="totalPages"
        [pageSize]="itemsPerPage"
        (goToPage)="onPageChange($event)"
      >
      </app-pagination>
    </div>
  </div>
</div>

<ng-template #content> 
    <form>
        <div class="">
            <label for="subscribe" class="f-w-7">1. Lĩnh vực (không bắt buộc):</label>
            <div class="row mt-6">
              <div class="l-4">
                <input type="checkbox" id="subscribe" name="subscribe">
                <label for="message">Công nghệ thông tin</label>
                </div>
              <div class="l-4">
                <input type="checkbox" id="subscribe" name="subscribe">
                <label for="message">Văn phòng</label>
              </div>
              <div class="l-4">
                  <input type="checkbox" id="subscribe" name="subscribe">
                  <label for="message">Thiết kế đồ hoạ</label>
              </div>
              <div class="l-4">
                <input type="checkbox" id="subscribe" name="subscribe">
                <label for="message">Học tập và nghiên cứu</label>
                </div>
              <div class="l-4">
                <input type="checkbox" id="subscribe" name="subscribe">
                <label for="message">Khác...</label>
              </div>
            </div>
        </div>
        <div class="mt-10">
          <label for="subscribe" class="f-w-7">2. Thương hiệu (không bắt buộc)   :</label>
          <div class="row mt-6">
            <div class="l-4">
              <input type="checkbox" id="subscribe" name="subscribe">
              <label for="message">MACBOOK</label>
              </div>
            <div class="l-4">
              <input type="checkbox" id="subscribe" name="subscribe">
              <label for="message">ASUS</label>
            </div>
            <div class="l-4">
                <input type="checkbox" id="subscribe" name="subscribe">
                <label for="message">LENOVO</label>
            </div>
            <div class="l-4">
              <input type="checkbox" id="subscribe" name="subscribe">
              <label for="message">ACER</label>
              </div>
            <div class="l-4">
              <input type="checkbox" id="subscribe" name="subscribe">
              <label for="message">MSI</label>
            </div>
            <div class="l-4">
                <input type="checkbox" id="subscribe" name="subscribe">
                <label for="message">HP </label>
            </div>
            <div class="l-4">
              <input type="checkbox" id="subscribe" name="subscribe">
              <label for="message">Khác...</label>
          </div>
          </div>
      </div>
      

      <div class="mt-10 ">
        <label for="subscribe" class="f-w-7">3. Giá (không bắt buộc):</label>
        <div class="row mt-6">
          <div class="l-9">
            <input type="range" id="subscribe" name="subscribe" min="1000000" max="10000000">
          </div>
          <div class="l-3">
            <span style="display: block; text-align: center;">100.000.000 VND</span>
          </div>
        </div>
    </div>
    
        <div class="mt-10 mb-10">
            <label for="message" class="f-w-7">4. Mô tả của bạn:</label>
            <textarea class="mt-10"  id="message" name="message" rows="4" placeholder="Nhập mô tả laptop bạn muốn mua"></textarea>
        </div>
    </form>

</ng-template>
<ng-template #notify>
  <app-notification
    (checked)="checked($event, 0, '')"
    [template]="content"
    [title]="'Tìm kiếm laptop theo mô tả'"
    [submitName]="'Tìm kiếm'"
  ></app-notification>
</ng-template>

<app-modal [idModal]="'search'" [template]="notify"></app-modal>
